@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --background: white;
  --text: #333333;
  --spanC:rgb(177, 247, 177);
  --btnHC:rgb(243, 228, 255);
}

[data-theme='dark'] {
  --background: #1f1e20;
  --text: #e0e0e0;
  --spanC:rgb(54, 56, 55);
  --btnHC:rgb(70, 45, 87);
}

 body{
  font-family: "Libertinus Sans", sans-serif;
  background-color: #232121;

 }

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}
